@import url('https://fonts.googleapis.com/css?family=Roboto');
body, button, html, input, select, textarea, .tooltip ,h1,h2,h3,h4,h5,h6{
  font-family: Roboto, Helvetica, sans-serif;
}
.ltr {
  direction: ltr;
  /*text-align: left;*/
}
.rtl {
  direction: rtl;
  /*text-align: right;*/
}
.inline {
  display: inline-block;
}
.tooltip {
  font-family: inherit !important;
}
select.form-control {
  padding: 0.0rem 0.75rem !important;
}
.en{
  font-family: Roboto, Helvetica, sans-serif,Shabnam;
}

p{
  text-align: right;
}